
.menuButton, .slideButton, .toggle-button, .button:cancel, .button:default{
    -fx-outer-border: #b71c1c;
    -fx-body-color: #212121;
    -fx-background-color:
    -fx-outer-border,
    -fx-body-color;
   	-fx-background-insets: 0.0, 3.0;
    -fx-text-fill: #b71c1c;
    	-fx-font-size: 12px;
    	-fx-font-weight: bold;
}

.menuButton:hover, .slideButton:hover, .toggle-button:hover, .toggle-button:selected, .button:cancel:hover, .button:default:hover {
	-fx-outer-border: #212121;
	-fx-body-color: #b71c1c;
	-fx-background-color:
	    -fx-outer-border,
	    -fx-body-color;
	-fx-background-insets: 0.0, 3.0;
    -fx-text-fill: #212121;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-cursor: HAND;
    -fx-cursor-image: url(../images/disabled.png);
}

.menuButton:disabled, .slideButton:disabled  {
    -fx-opacity: 0.3;
}

