.border-pane {
    -fx-outer-border: #b71c1c;
    -fx-body-color: #212121;
    -fx-background-color:
        -fx-outer-border,
        -fx-body-color;
    -fx-background-insets: 0.0, 3.0;

}

.grid-pane {
    -fx-outer-border: #b71c1c;
    -fx-body-color: #212121;
    -fx-background-color:
        -fx-outer-border,
        -fx-body-color;
    -fx-background-insets: 0.0, 3.0;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #b71c1c;
}